/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6897b3;         /* Dark teal */
  --ifm-color-primary-dark: #2f434f;    /* Slightly darker teal */
  --ifm-color-primary-darker: #202d36;  /* Even darker teal */
  --ifm-color-primary-darkest: #11181c; /* Darkest teal */
  --ifm-color-primary-light: #4a7f6b;   /* Light green */
  --ifm-color-primary-lighter: #559279; /* Lighter green */
  --ifm-color-primary-lightest: #64a78c; /* Lightest green */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6897b3;         /* Dark teal */
  --ifm-color-primary-dark: #2f434f;    /* Slightly darker teal */
  --ifm-color-primary-darker: #202d36;  /* Even darker teal */
  --ifm-color-primary-darkest: #11181c; /* Darkest teal */
  --ifm-color-primary-light: #3f8f75;   /* Light teal */
  --ifm-color-primary-lighter: #4a9d80; /* Lighter teal */
  --ifm-color-primary-lightest: #5fb099; /* Lightest teal */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.table-container {
  width: 100%; /* Adjust this value to set the overall width of the table */
}

.table-container th,
.table-container td {
  width: 50%; /* Adjust this value to set the width of individual columns */
}
